@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans Condensed', system-ui, -apple-system, BlinkMacSystemFont;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
